/* App.css */

.App {
  background-color: #f8f9fa;
}

.content {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  /* Styles for mobile screens */
  .content {
    padding: 10px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* Styles for tablet screens */
  .content {
    padding: 15px;
  }
}

@media (min-width: 769px) {
  /* Styles for desktop screens */
  .content {
    padding: 20px;
  }
}
