/* App.css */

.App {
  background-color: #f8f9fa;
}

.content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 400px;
  overflow: auto;
}

/*Styling for different size screens*/
@media (max-width: 576px) {
  /* Styles for mobile screens */
  .content {
    padding: 10px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* Styles for tablet screens */
  .content {
    padding: 15px;
  }
}

@media (min-width: 769px) {
  /* Styles for desktop screens */
  .content {
    padding: 20px;
  }
}
